
    .blog__sidebar__recent__item__pic {
    float: left;
    margin-right: 0;
	}
	
	.blog__sidebar__item h4 {
    color: #1c1c1c;
    font-weight: 700;
    margin-top: 25px;
	}
	
	 .blog__sidebar__item {
        width: 90%;
        margin: auto;
    }

    .blog__sidebar__item h4 {
        background-color: #7fad39;
        color: white;
        font-weight: bold;
        padding: 10px;
        margin: 0;
        border: 1px solid #ddd;
    }

    .blog__sidebar__item ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid #ddd;
    }

    .blog__sidebar__item ul li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .blog__sidebar__item ul li:last-child {
        border-bottom: none;
    }

    .blog__sidebar__item ul li a {
        text-decoration: none;
        color: #333;
        display: block;
    }

    .blog__sidebar__item ul li a:hover {
        background-color: #f2f2f2;
    }

    /* 추가된 스타일 */
   .blog__sidebar__recent__item__text h6 {
        margin: 0; /* 기본 마진 제거 */
        color: #333; /* 기존 텍스트 색상과 동일하게 설정 */
        font-size: 17px; /* 적절한 폰트 크기 설정 */
        padding: 10px 0; /* 위아래 패딩으로 텍스트가 있는 영역을 넓힘 */
    } 
     /* 전체 컨테이너의 하단 간격 조정 */
    .col-lg-12.text-center {
        margin-bottom: 5px;
      
    }

    /* "주문목록/배송조회"와 검색창 사이의 간격 조정 */
    .col-lg-12.text-center h2 {
        margin-bottom: 30px;
    }

    /* 검색창 너비 조정 및 가운데 정렬 */
    .blog__sidebar__search {
        width: 50%;
        margin-bottom:2px;
        margin-top: 20px;
        
    }

    /* 검색창 내부 폼 스타일 조정 */
    .blog__sidebar__search form {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /* 검색 입력 필드 너비 조정 */
    .blog__sidebar__search input[type="text"] {
        width:75%;
    }

	.breadcrumb-section {
	display: flex;
	align-items: center;
	padding: 30px 0 10px;
}

.breadcrumb__text h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}
 .blog__sidebar__recent__item__pic {
        display: flex; /* Flexbox 사용 */
        justify-content: center; /* 가로축 중앙 정렬 */
        align-items: center; /* 세로축 중앙 정렬 */
        height: 100%; /* div의 높이를 조정해 이미지에 맞게 설정 */
    }

    .blog__sidebar__recent__item__pic img {
        max-width: 100%; /* 이미지가 div를 넘어가지 않도록 최대 너비 설정 */
        height: auto; /* 이미지 비율 유지 */
        padding-left: 20px;
    	padding-top: 10px 
    }

.blog__sidebar__item__tags button {
    font-size: 16px;
    color: #6f6f6f;
    background: #f5f5f5;
    display: inline-block;
    padding: 7px 26px 5px;
    margin-right: 6px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 1px solid #f5f5f5; /* 테두리 색상 설정 */
}

.shoping__cart__table table tbody tr td.shoping__cart__item {
    width: 200px;
    text-align: left;
   
}

.shoping__cart__table table tbody tr td.shoping__cart__date {
    width: 100px;
    text-align: left;
    padding: 20px;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-right: 20px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.container {
    /* display: flex; */
    justify-content: center; /* 가로축에 대해 중앙 정렬 */
    align-items: flex-start; /* 세로축에 대해 상단 정렬 */
    flex-direction: row; /* 요소들을 가로 방향으로 나열 */
    width: 100%; /* 컨테이너의 너비를 전체 화면으로 설정 */
   /*  max-width: 1500px; */ /* 컨테이너의 최대 너비를 설정 */
    margin: 0 auto; /* 좌우 마진을 자동으로 설정하여 중앙 정렬 */
    padding: 0 20px; /* 컨테이너 내부의 좌우 패딩을 설정하여 여백을 추가 */
}

.order {
    /* width: 100%;  *//* order 클래스 요소의 너비를 최대로 설정 */
    width:1400px;
    display: flex; /* Flexbox 모델 적용 */
    flex-direction: row; /* 자식 요소들을 가로 방향으로 나열 */
    
}

.blog__sidebar__search form button {
    font-size: 16px;
    color: #6f6f6f;
    background: transparent;
    border: none;
    position: absolute;
    right: 80px;
    top: 0;
    height: 100%;
    padding: 0px 18px;
}

.blog__sidebar {
     padding-top: 0px; 
}


  .shoping__cart__table table tbody tr td.shoping__cart__price table {
            width: 300px;
            border-collapse: collapse;
            margin-left: 15px;
        }
        
  .shoping__cart__table table tbody tr td.shoping__cart__price th {
            width: 70px;
            padding: 5px;
            font-size: 15px;
            text-align: left;
            border: none;
        }
        
  .shoping__cart__table table tbody tr td.shoping__cart__price td {
            font-size: 15px;
            font-weight: normal;
            padding: 5px;
            border: none;
            text-align: left;
        }
        
        
    .shoping__cart__table table tbody tr td.shoping__cart__quantity .table-container {
        width: 100px;
        border-collapse: collapse;
        margin-left: 15px;
    }
    
    .shoping__cart__table table tbody tr td.shoping__cart__quantity .table-container td {
        padding: 2px;
        border: none;
    }
    
    .shoping__cart__table table tbody tr td.shoping__cart__quantity .btn {
        background-color: #7fad39;
        color: white;
        white-space: nowrap;
        width: 110px;
        height: 40px;
    }  
    
   .blog__sidebar__item__tags{
   	margin: 0 8px;
   }   



/*사이드바 고객센터*/
.blog__sidebar__recent__item {
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 25px;
}
